@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheHobbyHub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TheHobbyHub.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-gradient-orange border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TheHobbyHub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Company" asp-action="Index">Companies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="Index">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Friend" asp-action="Index">Friends</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Hobby" asp-action="Index">Hobbies</a>
                        </li>
                    </ul>

                    <!-- Login  Display -->

                    @*
                    <ul class="navbar-nav">

                        <!-- Generate the users -->
                        @inject UserManager UserManager

                        @{
                            UserManager.Seed();
                        }

                        @{                       
                            var fullname = HttpContextAccessor.HttpContext?.Session.GetString("fullname");

                            if (fullname != null) fullname = fullname.Replace("\"", "");
                        }

                        <li class="nav-item">
                            @if (fullname == null || fullname == "")
                            {
                                <a asp-controller="User" asp-action="Login" class="nav-link text-light">Login</a>
                            }
                            else
                            {
                                <a asp-controller="User" asp-action="Logout" class="nav-link text-light">Logout |</a>
                            }
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light">@fullname</a>
                        </li>
                    </ul>
                    *@

                </div>
            </div>
        </nav>
    </header>
    <div class="container full-size"> <!-- full-size class added -->
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - TheHobbyHub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<!-- JavaScript for Image box -->
<script type="text/javascript">
    function off() {
        console.log('Off');
        document.getElementById("overlay").style.display = "none";
    }
    function on(picture) {
        console.log('On');
        document.getElementById("overlay").style.display = "block";
        document.getElementById("output").src = picture;
    }
</script>