@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <img src="/images/HobbiesIndex.png" />
</div> *@

@*  <div class="Homebanner">

    <h1> Explore Hobbies</h1>

       <div class="video-container">

            <div class="Hcolor-overlay"></div>

             <video autoplay loop muted >
            <source src="~/video/videoIndex.mp4" type="video/mp4">
             </video>
        
       </div>
 </div> *@



 <div class="Homecontainer">
   

    <div class="HContent">
        <h1>Explore Hobbies</h1>
        <div class="homeimage">
            <img height="230" class="justify-content-center text-center" src="~/images/HobbiesIndex.png" />
        </div>
        <p>Hobbies are more fun with friends! Whether it's running, hiking, or playing basketball, sharing the experience adds to the enjoyment. Joining a hobby group lets you meet like-minded people, learn new things, and have a great time together. So why not sign up and make your hobby even better with friends? </p>
        <a asp-controller="User" asp-action="Login">Start Your Journey</a>
    </div>

</div>


@* <div class="HomeButton">
    <button type="button">Explore</button>
</div> *@

@* 
<div class="text-center ">
    <h1 class="display-4">Welcome!</h1>
    <p>
        Welcome to <strong>The Hobby Hub</strong>, your ultimate destination for connecting with like-minded individuals and exploring a world of exciting hobbies and exercise activities! While our website is still in development, we're thrilled to offer you a sneak peek into what's to come. Whether you're a fitness enthusiast, an art aficionado, or a thrill-seeker looking for new adventures, The Hobby Hub will be your go-to platform for meeting new people, sharing experiences, and discovering endless opportunities to pursue your passions. Stay tuned as we work tirelessly to bring you a seamless and engaging experience. In the meantime, thank you for your patience, and we can't wait to embark on this exciting journey with you!.
    </p>
</div> *@