@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <img src="/images/HobbiesIndex.png" />
</div> *@

<div class="Homebanner">
    <video autoplay loop muted plays-inline>
        <source src="video/videoIndex.mp4" type="video/mp4" />
    </video>
    <div class="HomeContent"> 
            <h1> Explore Hobbies</h1>
            <div class="HomeButton">
                <button type="button">Explore</button>
            </div>
      </div>
</div>


@* 
<div class="text-center ">
    <h1 class="display-4">Welcome!</h1>
    <p>
        Welcome to <strong>The Hobby Hub</strong>, your ultimate destination for connecting with like-minded individuals and exploring a world of exciting hobbies and exercise activities! While our website is still in development, we're thrilled to offer you a sneak peek into what's to come. Whether you're a fitness enthusiast, an art aficionado, or a thrill-seeker looking for new adventures, The Hobby Hub will be your go-to platform for meeting new people, sharing experiences, and discovering endless opportunities to pursue your passions. Stay tuned as we work tirelessly to bring you a seamless and engaging experience. In the meantime, thank you for your patience, and we can't wait to embark on this exciting journey with you!.
    </p>
</div> *@