@model TheHobbyHub.BL.Models.Company

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
            @Html.DisplayFor(model => model.CompanyName)
</div>
<div class="ms-lg-3">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    <a asp-action="Index">Back to List</a>
</div>
