@model IEnumerable<TheHobbyHub.BL.Models.Company>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create">Create New</a>
</p>


<h3>Click on details to find out more about the company.</h3>


<table class="table">
    <thead>
        <tr>
            <th>
                <!-- Empty For Image -->
            </th>
            <th>
                <!-- Empty For Name and link to Details -->
            </th>

        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
            <tr>
                <td>
                    <img id="profileListImg" src="~/images/@item.ImagePath" />
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">@item.CompanyName</a>
                </td>
                <td>

            </tr>
    }
    </tbody>
</table>
