@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);


.event-card-list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.event-link {
    text-decoration: none;
    color: inherit;
}

.event-link:hover {
    text-decoration: none;
    color: inherit;
}

.event-body {
    font-family: 'Source Sans Pro';
    color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.card h1 {
    text-align: center;
    font-size: 2rem;
    color: white;
    font-style: italic;
}

.cardgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    grid-auto-rows: 35rem;
    grid-gap: 2.5rem;
    grid-auto-flow: dense;
    justify-items: center;
    align-items: center;
}

.card {
    overflow: hidden;
    box-shadow: 0px 2px 20px;
    border-radius: 0.5rem;
    position: relative;
    width: 19rem;
    height: 35rem;
    margin: 1rem;
    cursor: pointer;
    background-color: white;
}

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0px 2px 40px;
    }

.banner-img {
    position: absolute;
    object-fit: cover;
    height: 14rem;
    width: 100%;
}

.cat-tag {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    top: 1rem;
    border-radius: 0 2rem 2rem 0;
}

.card-body {
    margin: 13rem 0.1rem 1rem 0.1rem;
}

.blog-h {
    font-size: 0.9rem;
    font-weight: bold;
    color: blue;
    opacity: .7;
}


.blog-title {
    line-height: 1.5rem;
    margin: 1rem 0;
}

.blog-description {
    font-size: .9rem;
    color: black;
    font-weight: bold;
    opacity: 1.8;
    min-height: 8rem;
}


.card-profile {
    display: flex;
    margin-top: 1.4rem;
    line-height: .2
}


.pimg {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}



.card-profile-info {
    margin-left: 1rem;
}

.author {
    font-size: 1rem;
}

@media(max-width:500px) {
    .cardgrid {
        grid-gap: 0rem;
    }

    .card {
        width: 100%;
        padding: 0;
        margin: 0;
        border-radius: 0rem;
        padding: 0rem;
        box-shadow: 0rem 0rem 0rem;
    }

        .card:hover {
            transform: none;
            box-shadow: none;
        }
}

/*CARDs FOR FRIENDS*/

.blog-f {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: blue;
    opacity: .7;
}
.card-profilef {
    text-align: center;
    display: flex;
    padding-top: 40px;
    line-height: .3;
}

.pimgf {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 60%;
}

.cardf {
    align-content: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0px 2px 20px;
    border-radius: 0.5rem;
    position: relative;
    width: 19rem;
    height: 30rem;
    margin: 1rem;
    background-color: white;
}

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0px 2px 40px;
    }

.card-bodyf {
    text-align: center;
    margin-top: 2.8rem;
    margin-left: auto;
    margin-right: auto;
}

.profile-namef {
    margin-left: -4.8rem;
    text-align: center;
    align-content: center;
    justify-content: center;
}
.followersf {
    margin-left: -1.5rem;
    margin-right: 4rem;
}