@model TheHobbyHub.BL.Models.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="user login-body row">

    <!-- Big rectangle in the background -->
    <div class="user_options-container">


        <!-- Options text for Login or Sign up and button to change accordingly -->
        <div class="user_options-text">
            <div class="user_options-unregistered">
                <h2 class="user_unregistered-title">Don't have an account?</h2>
                <p class="user_unregistered-text"></p>
                <button class="user_unregistered-signup login-button" id="signup-button">Sign up</button>
            </div>

            <div class="user_options-registered">
                <h2 class="user_registered-title">Have an account?</h2>
                <p class="user_registered-text"></p>
                <button class="user_registered-login login-button" id="login-button">Login</button>
            </div>
        </div>

        <!-- Forms Container -->
        <div class="user_options-forms" id="user_options-forms">
            <!-- Login Form -->
            <div class="user_forms-login">
                <h2 class="forms_title">Login</h2>
                <form asp-action="Login" asp-controller="User" method="post" class="forms_form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <fieldset class="forms_fieldset">
                        <div class="forms_field">
                            <!--<label asp-for="User.UserName" class="control-label"></label> -->
                            <input asp-for="UserName" placeholder="User Name" class="forms_field-input login-input" required autofocus />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="forms_field">
                            <!-- <label asp-for="Password" class="control-label"></label> -->
                            <input asp-for="Password" placeholder="Password" type="password" class="forms_field-input login-input" required />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </fieldset>
                    <div class="forms_buttons">
                        <button type="button" class="forms_buttons-forgot login-button">Forgot password?</button>
                        <input type="submit" value="Log In" class="forms_buttons-action login-input">
                    </div>
                </form>
            </div>

            <!-- Sign Up Form -->
            <div class="user_forms-signup">
                <h2 class="forms_title">Sign Up</h2>
                <form asp-action="Create" asp-controller="User" method="post" enctype="multipart/form-data" class="forms_form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <fieldset class="forms_fieldset">
                        <div class="forms_field forms_field-input-inline">
                            <input asp-for="FirstName" class="forms_field-input login-input" placeholder="First Name" required />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="forms_field forms_field-input-inline">
                            <input asp-for="LastName" class="forms_field-input login-input" placeholder="Last Name" required />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="forms_field clear-align">
                            <input asp-for="Email" type="email" class="forms_field-input login-input" placeholder="Email" required />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="forms_field">
                            <input asp-for="PhoneNumber" class="forms_field-input login-input" placeholder="Phone Number" required />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="forms_field">
                            <label asp-for="Image" class="control-label" style="font-family: 'Montserrat', sans-serif; color: gray">Profile Picture</label>
                            <input asp-for="Image" type="file" class="forms_field-input login-input" accept="image/*" placeholder="Profile Picture" required />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>


                        <!-- Multiple selector for genres -->

@*                         <div class="form-group">
                            <label asp-for="User.Hobbys" class="control-label"></label>
                            <select asp-for="HobbyIds"
                                    class="form-control"
                                    multiple
                                    asp-items="@(new MultiSelectList(Model.Hobbys, "Id", "HobbyName"))">
                            </select>

                            <span asp-validation-for="User.Hobbys" class="text-danger"></span>
                        </div> *@


                        
                        <div class="forms_field">
                            <input asp-for="UserName" class="forms_field-input login-input" placeholder="User Name" required />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="forms_field">
                            <input asp-for="Password" type="password" class="forms_field-input login-input" placeholder="Password" required />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="forms_field">
                            <input type="password" class="forms_field-input login-input" placeholder="Confirm Password" required />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </fieldset>
                    <div class="forms_buttons">
                        <input asp-action="Create" asp-controller="User" method="post" type="submit" id="signup-submit" value="Sign up" class="forms_buttons-action login-button">
                    </div>
                </form>
            </div>


        </div>

    </div>
</section>


@section Scripts {
    @{
        <script type="text/javascript">
            var signupButton = document.getElementById('signup-button');
            var loginButton = document.getElementById('login-button');
            var userForms = document.getElementById('user_options-forms');

            function adjustFormHeight(height) {
                userForms.style.transition = 'height 0.4s ease-in-out';
                userForms.style.height = height + 'px';
            }

            // Add event listener to the "Sign Up" button
            signupButton.addEventListener('click', function () {
                userForms.classList.remove('bounceRight');
                userForms.classList.add('bounceLeft');
                adjustFormHeight(600); // Set height to 600px for Sign Up
            }, false);

            loginButton.addEventListener('click', function () {
                userForms.classList.remove('bounceLeft');
                userForms.classList.add('bounceRight');
                adjustFormHeight(420); // Set height to 420px for Login
            }, false);

            // Adjust form height on window resize
            window.addEventListener('resize', function () {
                if (userForms.classList.contains('bounceLeft')) {
                    adjustFormHeight(600);
                } else {
                    adjustFormHeight(420);
                }
            });

            // Initial call to adjust form height based on active form
            if (userForms.classList.contains('bounceLeft')) {
                adjustFormHeight(600);
            } else {
                adjustFormHeight(420);
            }

            // Function to reset transition after animation
            userForms.addEventListener('transitionend', function () {
                userForms.style.transition = '';
            });



        </script>

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



@* ----------------------------------------- View Using View Model ------------------------------------


@model TheHobbyHub.UI.ViewModels.UserVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="user login-body row">

    <!-- Big rectangle in the background -->
    <div class="user_options-container">


        <!-- Options text for Login or Sign up and button to change accordingly -->
        <div class="user_options-text">
            <div class="user_options-unregistered">
                <h2 class="user_unregistered-title">Don't have an account?</h2>
                <p class="user_unregistered-text"></p>
                <button class="user_unregistered-signup login-button" id="signup-button">Sign up</button>
            </div>

            <div class="user_options-registered">
                <h2 class="user_registered-title">Have an account?</h2>
                <p class="user_registered-text"></p>
                <button class="user_registered-login login-button" id="login-button">Login</button>
            </div>
        </div>

        <!-- Forms Container -->
        <div class="user_options-forms" id="user_options-forms">
            <!-- Login Form -->
            <div class="user_forms-login">
                <h2 class="forms_title">Login</h2>
                <form asp-action="Login" asp-controller="User" method="post" class="forms_form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <fieldset class="forms_fieldset">
                        <div class="forms_field">
                            <!--<label asp-for="User.UserName" class="control-label"></label> -->
                            <input asp-for="User.UserName" placeholder="User Name" class="forms_field-input login-input" required autofocus />
                            <span asp-validation-for="User.UserName" class="text-danger"></span>
                        </div>
                        <div class="forms_field">
                            <!-- <label asp-for="User.Password" class="control-label"></label> -->
                            <input asp-for="User.Password" placeholder="Password" type="password" class="forms_field-input login-input" required />
                            <span asp-validation-for="User.Password" class="text-danger"></span>
                        </div>
                    </fieldset>
                    <div class="forms_buttons">
                        <button type="button" class="forms_buttons-forgot login-button">Forgot password?</button>
                        <input type="submit" value="Log In" class="forms_buttons-action login-input">
                    </div>
                </form>
            </div>

            <!-- Sign Up Form -->
            <div class="user_forms-signup">
                <h2 class="forms_title">Sign Up</h2>
                <form asp-action="Create" asp-controller="User" method="post" enctype="multipart/form-data" class="forms_form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <fieldset class="forms_fieldset">
                        <div class="forms_field forms_field-input-inline">
                            <input asp-for="User.FirstName" class="forms_field-input login-input" placeholder="First Name" required />
                            <span asp-validation-for="User.FirstName" class="text-danger"></span>
                        </div>
                        <div class="forms_field forms_field-input-inline">
                            <input asp-for="User.LastName" class="forms_field-input login-input" placeholder="Last Name" required />
                            <span asp-validation-for="User.LastName" class="text-danger"></span>
                        </div>
                        <div class="forms_field clear-align">
                            <input asp-for="User.Email" type="email" class="forms_field-input login-input" placeholder="Email" required />
                            <span asp-validation-for="User.Email" class="text-danger"></span>
                        </div>
                        <div class="forms_field">
                            <input asp-for="User.PhoneNumber" class="forms_field-input login-input" placeholder="Phone Number" required />
                            <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="forms_field">
                            <label asp-for="User.Image" class="control-label" style="font-family: 'Montserrat', sans-serif; color: gray">Profile Picture</label>
                            <input asp-for="User.Image" type="file" class="forms_field-input login-input" accept="image/*" placeholder="Profile Picture" required />
                            <span asp-validation-for="User.Image" class="text-danger"></span>
                        </div>


                        <!-- Multiple selector for genres -->

                        <div class="form-group">
                            <label asp-for="User.Hobbys" class="control-label"></label>
                            <select asp-for="HobbyIds"
                                    class="form-control"
                                    multiple
                                    asp-items="@(new MultiSelectList(Model.Hobbys, "Id", "HobbyName"))">
                            </select>

                            <span asp-validation-for="User.Hobbys" class="text-danger"></span>
                        </div> 


                        
                        <div class="forms_field">
                            <input asp-for="User.UserName" class="forms_field-input login-input" placeholder="User Name" required />
                            <span asp-validation-for="User.UserName" class="text-danger"></span>
                        </div>
                        <div class="forms_field">
                            <input asp-for="User.Password" type="password" class="forms_field-input login-input" placeholder="Password" required />
                            <span asp-validation-for="User.Password" class="text-danger"></span>
                        </div>
                        <div class="forms_field">
                            <input type="password" class="forms_field-input login-input" placeholder="Confirm Password" required />
                            <span asp-validation-for="User.Password" class="text-danger"></span>
                        </div>
                    </fieldset>
                    <div class="forms_buttons">
                        <input asp-action="Create" asp-controller="User" method="post" type="submit" id="signup-submit" value="Sign up" class="forms_buttons-action login-button">
                    </div>
                </form>
            </div>


        </div>

    </div>
</section>


@section Scripts {
    @{
        <script type="text/javascript">
            var signupButton = document.getElementById('signup-button');
            var loginButton = document.getElementById('login-button');
            var userForms = document.getElementById('user_options-forms');

            function adjustFormHeight(height) {
                userForms.style.transition = 'height 0.4s ease-in-out';
                userForms.style.height = height + 'px';
            }

            // Add event listener to the "Sign Up" button
            signupButton.addEventListener('click', function () {
                userForms.classList.remove('bounceRight');
                userForms.classList.add('bounceLeft');
                adjustFormHeight(600); // Set height to 600px for Sign Up
            }, false);

            loginButton.addEventListener('click', function () {
                userForms.classList.remove('bounceLeft');
                userForms.classList.add('bounceRight');
                adjustFormHeight(420); // Set height to 420px for Login
            }, false);

            // Adjust form height on window resize
            window.addEventListener('resize', function () {
                if (userForms.classList.contains('bounceLeft')) {
                    adjustFormHeight(600);
                } else {
                    adjustFormHeight(420);
                }
            });

            // Initial call to adjust form height based on active form
            if (userForms.classList.contains('bounceLeft')) {
                adjustFormHeight(600);
            } else {
                adjustFormHeight(420);
            }

            // Function to reset transition after animation
            userForms.addEventListener('transitionend', function () {
                userForms.style.transition = '';
            });



        </script>

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


*@