@using TheHobbyHub.UI.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //TODO:trigger an end to the session
    
}
<h1>You are logged out. Have a nice day.</h1>